html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;

}

.container{
   display: flex;
   flex-direction: column;
   max-width: 320px;
   margin: 30px auto;

}

img{
  max-width: 150px;
  margin: 30px auto;
}

input {
    color: #d98e55;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
    height: 50px;
    color: #FDFDFD;
    background-color: #43210d;
    border: none;
    border-radius: 8px;
    border: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
}

ul li{
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 13px;
    flex-grow: 1;
    text-align: center;
}

